@charset "UTF-8";

// -----
// 設定
// -----

// 色
$color-main: #3f51b5; // ベース色
$color-active: #e81919; // アクティブ色
$color-background: #fff; // 背景色
$color-text: #333; // テキスト色
$hover-opacity: 0.6; // 透過度

// レイアウト幅
$layout-width-canvas: 1280px;
$layout-width-inner: 1190px;

// 階層
$layer: (
    modal: 100, // モダール
    drawer: 40, // ドロワー
    floating: 30, // フローティングアイテム
    header: 20, // ヘッダー
    footer: 10, // フッター
    default: 1,
);

// 余白
$padding-pc: 15px;
$padding-tab: 30px;
$padding-sp: 15px;
$padding-section-pc: 40px;
$padding-section-tab: 40px;
$padding-section-sp: 15px;

@mixin section-padding {

  @include mq(pc) {
    padding-top: $padding-section-pc;
    padding-bottom: $padding-section-pc;
  }

  @include mq(tab) {
    padding-top: $padding-section-tab;
    padding-bottom: $padding-section-tab;
  }

  @include mq (sp) {
    padding-top: $padding-section-sp;
    padding-bottom: $padding-section-sp;
  }
}

// ヘッダー高さ
$header-height-pc: 100px;
$header-height-sp: 60px;

// フォント
$font-family-default:  "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$font-family-base: $font-family-default;
$font-weight-bold: 600;
$line-height-base: 1.6;
$letter-spacing-base: 1.5px;
$font-size-large: 28px;
$font-size-base: 20px;
$font-size-small: 16px;
$font-size-xsmall: 14px;

// ブレークポイント
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(max-width: #{$layout-width-inner})",
    "pc": "(min-width: #{$layout-width-inner + 1px})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* リセットCSS
===================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}


/* 基本設定
===================================== */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  color: $color-text;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  @include mq(pc) {
    font-size: $font-size-base;
  }

  @include mq(tab) {
    font-size: calc(#{$font-size-base} - 4px);
  }

  @include mq(sp) {
    font-size: calc(#{$font-size-base} - 6px);
  }
}

a {
  text-decoration: none;
}

h2, h3 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.inner {
  margin: 0 auto;
  width: $layout-width-inner;
  max-width: 100%;

  @include mq(pc) {
    padding: 0 $padding-pc;
  }

  @include mq(tab) {
    padding: 0 $padding-tab;
  }

  @include mq(sp) {
    padding: 0 $padding-sp;
  }
}

.txtl {
  font-weight: $font-weight-bold;
  text-align: center;

  @include mq(pc) {
    font-size: $font-size-large;
  }

  @include mq(tab) {
    font-size: calc(#{$font-size-large} - 4px);
  }

  @include mq(sp) {
    font-size: calc(#{$font-size-large} - 10px);
  }
}

.txts {
  @include mq(pc) {
    font-size: $font-size-small;
  }

  @include mq(tab) {
    font-size: calc(#{$font-size-small} - 4px);
  }

  @include mq(sp) {
    font-size: calc(#{$font-size-small} - 6px);
  }
}

.txtxs {
  @include mq(pc) {
    font-size: $font-size-xsmall;
  }

  @include mq(tab) {
    font-size: calc(#{$font-size-xsmall} - 2px);
  }

  @include mq(sp) {
    font-size: calc(#{$font-size-xsmall} - 2px);
  }
}

.fwb {
  font-weight: $font-weight-bold;
}

.font-color {
  color: #ebb94d;
}

.title-box {
  position: relative;
  width: 860px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0;

  @include mq(sp) {
    padding: 5px 10px;
  }

  &::before, &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
  }

  &::before {
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
  }

  &::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
  }
}

.underline {
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.brsp {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.brtab {
  display: none;

  @include mq(tab) {
    display: block;
  }
}

.brhidesp {
  @include mq(sp) {
    display: none;
  }
}

.br-hidepc {
  @include mq(pc){
    display: none;
  }
}

.util-box {
  background-color: #da6b64;
  cursor: pointer;

  .util-link {
    display: inline-block;
    color: #fff;
  }
}

.hidden {
  display: none;
}

// header
// ==========

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  z-index: map-get($layer, "header");
  background-color: #fff;

  @include mq(sp) {
    height: 62px;
  }
}

.header__inner {
  height: 75px;
  display: flex;
  align-items: center;

  @include mq(sp) {
    height: 62px;
    padding: 0 0 0 10px;
  }
}

.header__left {
  margin-right: auto;

  @include mq(pc) {
    align-items: flex-end;
    display: flex;
    flex-flow: row-reverse;
  }

  @include mq(tab) {
    align-items: flex-end;
    display: flex;
    flex-flow: row-reverse;
  }

  @include mq(sp) {
    display: block;

  }

  p {
    padding: 0 0 8px 5px;

    @include mq(sp) {
      font-size: 10px;
      letter-spacing: 0.1px;
      padding: 0;
    }
  }
}

.header__left-img {
  width: 128px;

  @include mq(sp) {
    width: 90px;
  }
}

.header__right {
  margin-left: auto;
}

.header__btn {
  text-align: center;
  width: 315px;
  height: 44px;
  padding: 11px 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include mq(tab) {
    width: 262px;
    height: 41px;
  }

  @include mq(sp) {
    display: none;
  }

  a {
    display: block;
    letter-spacing: 0;
    font-weight: 300;
  }
}

.header__util-box-sp {
  display: none;

  @include mq(sp) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #da6b64;
    cursor: pointer;
    text-align: center;
    width: 76px;
    height: 62px;
    padding: 9px 11px;

    img {
      width: 20px;
    }

    .header__util-link-sp {
      display: block;
      color: #fff;
      font-size: 12px;
      font-weight: normal;
    }
  }
}


// top
// ==========

.top {
  height: 500px;
  background-image: url("https://nabekou1996.github.io/portfolio_2/top.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(sp) {
    background-image: url("https://nabekou1996.github.io/portfolio_2/top-sp.jpg");
    height: 312px;
  }
}

.top__inner {
  text-align: center;
}

.top__wrap {
  p {
    margin-bottom: 10px;

    @include mq(sp) {
      margin: 0;
    }
  }
}

.top__logo {
  width: 317px;
  margin-bottom: 20px;

  @include mq(sp) {
    margin: 20px;
  }
}

// reseption
// ==========

.reseption {
  background-color: #ebb94d;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

.reseption__area {
  margin-top: 15px;
  margin-bottom: 10px;

  @include mq(pc) {
    margin-bottom: 40px;
  }

  span {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    padding: 3px;
    font-size: 18px;
    letter-spacing: 0.01em;

    @include mq(tab) {
      font-size: 14.4px;
    }

    @include mq(sp) {
      font-size: 13.5px;
    }
  }
}

.reseption__btn {
  text-align: center;
  max-width: 1028px;
  height: 104px;
  padding: 0 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;

  @include mq(tab) {
    height: 78px;
    margin-top: 0;
  }

  @include mq(sp) {
    height: 94px;
    margin-top: 25px;
  }

  a {
    display: block;
    font-weight: $font-weight-bold;

    @include mq(tab) {
      font-size: 18px;
    }

    @include mq(sp) {
      font-size: 20px;
    }
  }
}

.reseption__recruitment {
  margin-top: 50px;

  @include mq(tab) {
    margin-top: 35px;
  }

  @include mq(sp) {
    margin-top: 30px;
  }
}

.reseption__recruitment-text {
  font-size: 21px;

  @include mq(tab) {
    font-size: 18px;
  }

  @include mq(sp) {
    font-size: 15px;
  }

  & + & {
    margin-top: 30px;

    @include mq(tab) {
      margin-top: 30px;
    }
  }
}

.reseption__sns {
  margin-top: 20px;
}

// concept1
// ==========

.concept1 {
  @include section-padding();
  text-align: center;
  background-image: url("https://nabekou1996.github.io/portfolio_2/introbottom.jpg");
  background-size: cover;
  background-position: center;

  @include mq(sp) {
    height: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
}

.concept1__body {
  @include mq(pc) {
    padding: 40px 0;
  }

  @include mq(tab) {
    padding: 40px 0;
  }

  @include mq(sp) {
    padding: 25px 0;
  }
}

.concept1__text {
  margin-bottom: 24px;
}


// about
// ==========

.about {
  position: relative;
  background-color: #fef5e0;
  text-align: center;
  padding-top: 80px;
  padding-bottom: $padding-section-pc;
}

.circle-warp {
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  margin: auto;
}

.circle {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ebb94d;
  color: #fff;
  font-size: 14px;
  line-height: 80px;
  text-align: center;
}

.about__sub {
  margin-top: 40px;
  margin-bottom: 10px;
}

.about__contents {
  background-color: #fff;
  border: 2px solid #ebb94d;
  padding: 30px;
  margin: 30px auto;

  @include mq(sp) {
    padding: 10px;
  }
}

.about__contents-title {
  margin-bottom: 10px;
}

.about__list {
  display: flex;
  justify-content: center;
}

.about__list-item {
  padding: 10px;

  @include mq(sp) {
    padding: 5px;
  }
}

.about__list-item-img {
  @include mq(sp) {
    height: 30px;
  }
}

.about__list-item-text {
  margin: 10px 0;

  @include mq(sp) {
    font-size: 10px;
  }
}

// step
// ==========

.step {
  @include section-padding();
  background-image: url("https://nabekou1996.github.io/portfolio_2/aboutsecondbg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;

  @include mq(sp) {
    background-image: url("https://nabekou1996.github.io/portfolio_2/aboutsecondbgsp.jpg");
  }

  .txtl {
    margin-bottom: 20px;
  }
}

.step__inner {
  @include mq(sp) {
    padding: 0 30px;
  }

  .txtl {
    @include mq(sp) {
      line-height: 1.3rem;
    }
  }

  .step__sub {

    @include mq(sp) {
      font-size: 13px;
      letter-spacing: 0;
    }
  }
}

.step__sub {
  margin-bottom: 10px;
}

.step__list {
  margin-top: 40px;

  @include mq(pc) {
    display: flex;
    justify-content: space-between;
  }
}

.step__list-item {
  background-color: #fff;
  color: $color-text;
  border-radius: 5px;
  padding: 30px 30px 20px;

  @include mq(pc) {
    flex: 0 0 32%;
  }

  @include mq(tab) {
    max-width: 447px;
    margin: 0 auto 20px;
  }

  @include mq(sp) {
    margin: 0 auto 15px;
    padding: 15px 50px;
  }

  p {

    &:nth-child(1) {
      background-color: #ebb94d;
      border-radius: 5px;
      color: #fff;
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      margin-top: 30px;
      margin-bottom: 15px;

      @include mq(sp) {
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }
    &:nth-child(3) {
      margin-bottom: 10px;

      @include mq(tab) {
        font-size: 14px;
      }

      @include mq(sp) {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}

.step2 {
  @include section-padding();
  background-color: #016ea9;
  text-align: center;
  color: #fff;
}

// study
// ==========

.study {
  @include section-padding();
  text-align: center;

  .txtl {
    margin-top: 20px;
    margin-bottom: 35px;
  }
}

.study__inner {
  .txts {
    margin-bottom: 10px;
  }
}

.study__sub {
  margin-bottom: 10px;
}

.study__list {
  display: flex;
  justify-content: center;
  margin: 40px 25px;

  @include mq(sp) {
    margin: 0 20px 15px;
  }
}

.study__list-item {
  padding: 0 15px;
}

// merit
// ==========

.merit {
  @include section-padding();
  background-color: #fef5e0;
}

.merit__list {
  margin-top: 40px;

  @include mq(pc) {
    display: flex;
  }
}

.merit__list-item {
  width: 100%;
  text-align: center;
  padding: 0 15px;

  @include mq(pc) {
    width: 33.3333%;
  }

  @include mq(tab) {
    margin-bottom: 20px;
  }

  @include mq(sp){
    margin-bottom: 10px;
  }

  .font-color {
    margin: 8px 0;
  }

  .txts {
    margin: 8px 0;
  }
}

.merit__list-item-img {
  object-fit: cover;
  height: 180px;

  @include mq(pc) {
    width: 360px;
  }

  @include mq(sp) {
    width: 100%;
    height: 120px;
  }
}

.merit__list-item-text-wrap {
  padding: 0 20px;

  @include mq(pc) {
    padding: 0;
  }

  p {
    &:nth-child(1) {
      text-align: center;

      @include mq(pc) {
        text-align: left;
      }
    }

    &:nth-child(2) {
      text-align: left;
    }

  }

}

.merit__support-wrap {
  background-color: #fff;
  border: 2px solid #ebb94d;
  padding: 40px 20px;
  margin: 40px 0;
  text-align: center;

  @include mq(sp) {
    margin: 15px 20px;
  }

  p {
    margin-bottom: 10px;
  }
}
.merit__bottom {
  margin-bottom: 10px;
  text-align: center;
}

// member
// ==========

.member {
  @include section-padding();
  background-image: url("https://nabekou1996.github.io/portfolio_2/teacherbg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.member__sub {
  margin-top: 30px;
  margin-bottom: 10px;
}

.member__list {

  @include mq(pc) {
    display: flex;
  }
}

.member__list-item {
  padding: 0 15px;
  width: 100%;

  @include mq(pc) {
    width: 33.3333%;
  }
}

.member__list-item-img {
  position: relative;
  bottom: -35px;
  border-radius: 50%;
}

.member__list-item-body {
  border: 3px solid #fff;
  padding: 40px;

  @include mq(pc) {
    min-height: 391px;
  }

  @include mq(sp) {
    padding: 40px 10px 10px;
  }

  p {
    margin-bottom: 10px;

    &:nth-child(3) {
      text-align: left;
    }
  }
}

// message1
// ==========

.message1__title-wrap {
  @include section-padding();
  position: relative;
  background-color: #ebb94d;
  color: #fff;

  .circle {
    background-color: #fff;
    color: #ebb94d;
  }

  .title-box {

    &::before {
      border-top: 4px solid #fff;
      border-left: 4px solid #fff;
    }

    &::after {
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
    }
  }

  &::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: 100%;
    left: 50%;
    border: 25px solid transparent;
    border-top-color: #ebb94d;
    margin-left: -25px;

    @include mq(sp) {
      border: 15px solid transparent;
      margin-left: -15px;
      border-top-color: #ebb94d;
    }
  }
}

.message1__inner {
  @include section-padding();

  @include mq(sp) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  > p {
    margin-bottom: 10px;
    text-align: center;

    &:nth-child(2) {
      margin-bottom: 30px;
    }
  }
}

.message1__list {
  margin: 0 auto;
  width: 780px;
  max-width: 100%;
}

.message1__list-item {
  display: flex;
  padding: 20px 0;
}

.message1__list-item-img {
  display: block;
  flex: 0 0 31.4102%;
  padding-right: 15px;

  img {
    border:3px solid #ebb94d;
  }
}

.message1__list-item-body {
  font-style: italic;
  color: #777;

  p {
    &:nth-child(1) {
      margin-top: 15px;

      @include mq(sp) {
        margin-top: -5px;
      }
    }

    &:nth-child(2) {
      margin: 8px 0 10px;
    }
  }

  span {
    font-size: 85%;
    text-decoration: underline;
  }
}

// contents
// ==========

.contents {
  @include section-padding();
  background-image: url("https://nabekou1996.github.io/portfolio_2/classbg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.contents__inner {

  > h2, p {
    color: #fff;
  }

  > p {
    margin-bottom: 10px;
  }
}

.contents__list-container {
  padding: 40px 0;
  justify-content: center;
  max-width: 780px;
  margin: 0 auto;

  @include mq(pc) {
    display: flex;
  }
}

.contents__list-wrap {
  padding: 0 15px;
  margin: 0 auto;

  @include mq(pc) {
    width: 50%;
  }
}

.contents__list {
  background-color: #fff;
  border: 2px solid #016ea9;
  padding: 0;
  border-radius: 5px;
  margin-top: 15px;

  @include mq(pc) {
    margin-top: 0;
  }
}

.contents__list-item {
  padding: 10px;
  border-bottom: 1px dotted #e5e5e5;

  @include mq(tab) {
    font-size: 14px;
  }

  @include mq(sp) {
    font-size: 12px;
  }

  &:first-child {
    background-color: #016ea9;
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;

    @include mq(sp) {
      font-size: 15px;
    }
  }
}

.contents2 {
  @include section-padding();
  background-color: #016ea9;
  text-align: center;
  color: #fff;
}

// flow
// ==========

.flow {
  @include section-padding();
}

.flow__inner {
  text-align: center;
}

.flow__img {
  margin: 40px 0;
}

.flow__items {
  width: 1170px;
  max-width: 100%;
}

.flow__item {
  margin: 0 auto;
  background-color: #fef5e0;
  border-radius: 10px;
  display: flex;
  padding: 10px 35px;

  @include mq(sp) {
    margin-top: 5px;
    padding: 10px 15px;
    display: block;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.flow__item-head {
  flex: 0 1 200px;
  padding: 20px;

  @include mq(sp) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .accordion__icon {
    margin-left: auto;
  }
}

.flow-margin {
  margin-top: 40px;

  @include mq(sp) {
    margin-top: 0;
  }
}

.flow__item-img {
  @include mq(sp) {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
}

.flow__item-title {
  margin-top: 20px;

  @include mq(sp) {
    display: inline-block;
    margin-top: 0;

    br {
      display: none;
    }
  }
}

.flow__item-body {
  text-align-last: left;
  width: 900px;
  max-width: 100%;
  padding-top: 10px;
}

.flow__item-body-in {
  p {
    margin-top: 20px;
    margin-bottom: 20px;

    @include mq(sp) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &:nth-child(1) {
      margin-bottom: 0;
    }
  }
}

// reason
// ==========

.reason {
  padding: 80px;
  background-image: url("https://nabekou1996.github.io/portfolio_2/bangkokbg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;

  @include mq(sp) {
    background-image: url("https://nabekou1996.github.io/portfolio_2/bangkokbgsp.jpg");
    padding: 20px 15px;
  }
}

.reason__inner {
  text-align: left;


  .txtl {
    margin: 20px 0;
    letter-spacing: 3px;

    @include mq(sp) {
      text-align: center;
    }
  }

  .txtxs {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }
}

.reason__list {
  margin-bottom: 20px;
}

// benefit
// ==========

.benefit {
  @include section-padding();
  text-align: center;
  background-color: #f7c23c;
}

.benefit__inner {
  > .txtl {
    margin: 20px 0 40px;
  }

  > p {
    margin-bottom: 10px;

    span {
      color: #fff;
    }
  }
}

.benefit__contents-title {
  background-color: #f7c23c;
  position: relative;
  display: inline-block;
  bottom: -30px;
  padding: 0 20px;

  @include mq(sp) {
    line-height: 1.6;
    margin-top: 0;
  }
}

.benefit__list {
  padding: 40px;
  border: 2px solid #fff;

  @include mq(pc) {
    display: flex;
  }

  @include mq(sp) {
    padding: 30px;
  }
}

.benefit__list-item-wrap {
  padding: 0 15px;
  text-align: center;

  @include mq(pc) {
    width: 33.3333%;
  }

  @include mq(tab) {
    margin: 0 auto;
  }
}

.benefit__list-item-box {
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  margin: 10px;
  height: 250px;
  width: 250px;
  text-align: center;
}

.benefit__list-item {
  padding: 15px;
  height: 250px;
  display: table-cell;
  vertical-align: middle;

  p {
    margin-bottom: 10px;

    &:nth-child(1) {
      font-size: 24px;
    }

    &:nth-child(2) {
      font-size: 14px;
    }
  }
}

.benefit__sp-list {
  display: flex;
  font-size: 12px;
  margin: 15px 0;
}

.benefit__sp-list-head {
  flex: 0 0 27.2109%;
  max-width: 100%;
  text-align: center;
  color: #f7c23c;

  p {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-radius: 50%
  }
}

.benefit__sp-list-body {
  padding: 12px 0;
  color: #fff
}

// concept2
// ==========

.concept2 {
  @include section-padding();
  background-image: url("https://nabekou1996.github.io/portfolio_2/specialdetail.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;

  .title-box {
    margin: 20px auto;

    &::before {
      border-top: 4px solid #fff;
      border-left: 4px solid #fff;
    }

    &::after {
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
    }
  }
}

.concept2__inner {

  @include mq(sp) {
    padding: 20px 10px;
  }

  > .txtl {
    margin: 20px 0;
  }

  p {
    margin-bottom: 40px;

    @include mq(sp) {
      font-size: 12px;
    }
  }
}

// message2
// ==========

.message2 {
  @include section-padding();
  text-align: center;

  p {
    margin-bottom: 10px;
  }
}

.message2__inner {

  > .txtl {
    margin: 20px 0 35px;
  }
}

.message2__wrap {
  width: 100%;
  margin: 0 auto;

  @include mq(pc) {
    display: flex;
    width: 890px;
    max-width: 100%;
    margin: 40px auto 0;
  }
}

.message2__img {
  width: 100%;
  height: auto;

  @include mq(pc) {
    width: 25%;
    padding: 0 15px;
  }

  @include mq(tab) {
    padding: 20px 0;
  }

  @include mq(sp) {
    padding: 5px 0;
  }

  img {
    width: 100%;
  }
}

.message2__body {
  width: 100%;
  text-align: left;
  font-size: 14px;
  padding: 20px 0;

  @include mq(pc) {
    width: 75%;
    padding: 0 15px;
  }

  p {
    &:nth-child(3) {
      margin: 30px 0;
    }
  }
}

// contact
// ==========

.contact {
  @include section-padding();
  background-color: #ebb94d;
  text-align: center;
}

.contact__inner {
  width: 920px;
  min-height: 624px;

  > .txtl {
    margin: 20px 0;
  }

  > .txts {
    margin-bottom: 40px;
  }
}

.contact__form {

  input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 25px;
  }

  textarea {
    height: 100px;
    margin-top: 25px;
  }
}

.contact__btn {
  padding: 10px 80px;
  border-radius: 50px;
  font-size: 23px;
}

// qa
// ==========

.qa {
  @include section-padding();
}

.qa__inner {
  > .txtl {
    margin: 20px 0 40px;
  }
}

.qa__items {
  margin-bottom: 20px;
}

.qa__item {

  & + & {
    margin-top: 5px;
  }

  .accordion__head {
    padding: 20px;
    background-color: #fff !important;
    color: #000000 !important;
    border: 1px solid #e5e5e5 !important;
    position: relative;

    @include mq(sp) {
      padding: 10px;
    }

    .accordion__icon {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 10px;
      top: 60%;
      transform: translateY(-50%);
    }
  }

  .accordion__body {
    padding: 20px;

    .accordion__body-in {
      margin-bottom: 10px;
    }
  }
}

.fa-question-circle {
  color: #016ea9;
}


// footer
// ==========

.footer {
  background-color: #ececec;
  text-align: center;
  padding: 40px 0 20px;
}

.copyright {
  font-size: 10px;
  padding-bottom: 5px;

  a {
    color: #337ab7;;
  }
}

.footer__sns {
  margin-bottom: 35px;
}

.totop {
  display: block;
  position: relative;
  bottom: 100px;
  right: 50px;
  z-index: map-get($layer , "flowting");
  position: fixed;
  width: 71.5px;
  height: 72px;
  background-color: #ececec;
  text-align: center;
  padding: 20px;

  i {
    color: black;
    font-size: 28px;
  }
}